body{
  overflow: hidden;
  position: relative;
  margin: 0;
}
#drop-area{
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#gallery{
  margin-top: 16px;
}
img{
  width: 50%;
}
.button{
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: rgb(0, 0, 0);
  user-select: none;
}
.button:hover{
  background: #ddd;
}
#fileElem{
  display: none;
}
canvas{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
#heightmap{
  position: absolute;
  left: none;
  top: none;
  right: 0px;
  top: 0px;
  z-index: -1;
}
#heightgrid{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}
.hidden{
  display: none;
}
#pannel{
  /* border: 1px solid #ccc; */
  border: 1px solid #ccc;
  border-radius: 15px;
  float: left;
  width: 20%;
  padding: 1%;
}
#container{
  max-height : 500px;
  overflow-y: scroll;
}
#data{
  display: none;
}
span{
  color: purple;
}
.dg.main{
  position:absolute;
  top: 256px;
  right: -15px;
}

