body{
  font-family: sans-serif;
  margin: 0;
  color: #ccc;
  height: 100%;
  width: 100%;
}
#drop-area{
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#gallery{
  margin-top: 16px;
}
img{
  width: 50%;
}
.button{
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: rgb(0, 0, 0);
  user-select: none;
}
.button:hover{
  background: #ddd;
}
#fileElem{
  display: none;
}
canvas{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
#menu{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
.hidden{
  display: none;
}
#pannel{
  border: 1px solid #ccc;
  border-radius: 15px;
  float: left;
  width: 20%;
  padding: 1%;
}
