body{
  font-family: sans-serif;
  margin: 0;
  color: #ccc;
  height: 100%;
  width: 100%;
}
#drop-area {
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#drop-area.highlight {
  border-color: purple;
  float: top;
}
#gallery {
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  width: 50px;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: rgb(0, 0, 0);
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
#menu {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
#menu:checked  div {
  box-shadow: 0 0 0 3px orange;
  color: red;
}
.hidden {
  display: none;
}
